.advanced-messenger-bordered-panel {
    border: 1px solid #628DB6;
    margin-bottom: 5px;
    padding: 5px;
}

body.avatars-on div.journal {
  padding-left: 38px;
}

.collapse-message-preview {
  font-style: italic;
  color: black;
}

.collapse-message {
  color: #628DB6;
}

.collapse-message-ignored {
  color: #ccc;
}

.collapse-message-read {
  color: green;
}

.collapse-message-unread {
  color: red;
}

.expand-collapse-icon-placeholder {
  display: inline !important;
}

.fixed-issue-notifications-dialog {
  position: fixed !important;
  bottom: 10px;
  right: 10px;
  top: auto !important;
  left: auto !important;
}

.forum-topic .read-unread-indicators-at-right {
  padding-top: 5px;
}

.icon-checked-green { background-image: url(../images/checked_green.png) }
.icon-unchecked-red { background-image: url(../images/unchecked_red.png) }
.icon-delete-message { background-image: url(../images/delete-message.png) }
.icon-down-left-arrow { background-image: url(../images/down_left_arrow.png) }
.icon-test { background-image: url(../images/users.png) }
.icon-chat { background-image: url(../images/chat.png) }

.my-page-notifications { 
  margin-bottom: 15px; 
}

.my-page-header {
  background-color: #f8f9fa;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
}

.my-page-notifications > ul { 
  margin-top: 5px;
  margin-bottom: 5px; 
}

.my-page-project-group {
  margin-top: 15px;
  margin-bottom: 10px;
}

.my-page-project-header {
  color: #628DB6;
  margin: 0;
  padding: 5px 0;
  border-bottom: none !important;
}

.my-page-project-header a {
  color: #628DB6;
  text-decoration: none;
}

.my-page-project-header a:hover {
  text-decoration: underline;
}

/* Main notification headings with horizontal lines */
.my-page-notification-heading,
.my-page-notifications .my-page-notification-heading {
  color: #2A5685;
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

.my-page-project-notifications {
  list-style-type: none;
  padding-inline-start: 15px;
  font-weight: bold;
  margin-top: 5px;
}

.notifications-dialog .ui-dialog-titlebar-close {
  background-color: transparent;
  border: none;
}

.notifications-dialog {
  background-color : #E0EDD7 !important;
}

.notifications-dialog.unread {
  background-color : #FFC4C4 !important;
}

.notifications-dialog > .ui-dialog-titlebar {
  background-color : #E0EDD7;
  border: none;
}

.notifications-dialog.unread > .ui-dialog-titlebar {
  background-color : #FFC4C4;
}

/* Without this, the notifications title was having big gap before and after (only in firefox). */
.notifications-title::before, .notifications-title::after {
  border-collapse: unset !important;
}

.read_combobox_placeholder {
  padding-right: 5px;
}

.read_combobox_placeholder > select {
  height: auto;
}

.ui-tooltip {
  z-index: 10000;
}

.ui-tooltip.notifications-tooltip {
  border:1px solid #B2B2B2 !important;
  background-color:#F6F6F6 !important;
  opacity: 0.95;
  color: black;
}

.ui-tooltip.notifications-tooltip ul {
  margin-top: 5px !important;
  padding-left: 15px !important;
}

.ui-tooltip .notifications-close-button {
  position: absolute;
  right: 0.3em;
  top: 50%;
  margin: -10px 0 0 0;
  padding: 1px;
}

.ui-tooltip .notifications-title-text {
  float: left;
  margin: 0.1em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-tooltip .notifications-title {
  font-weight: bold; 
  margin-bottom: 15px!important; 
  position:relative;
}
.ui-tooltip.journal-notifications-tooltip ul {
  margin-top: 5px !important;
  padding-left: 15px !important;
}

.ui-tooltip .notifications-close-button {
  position: absolute;
  right: 0.3em;
  top: 50%;
  margin: -10px 0 0 0;
  padding: 1px;
}

.ui-tooltip .notifications-title-text {
  float: left;
  margin: 0.1em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-tooltip .notifications-title {
  font-weight: bold; 
  margin-bottom: 15px!important; 
  position:relative;
}

.ui-tooltip.notification-statuses {
  border:1px solid #B2B2B2 !important;
  background-color:#F6F6F6 !important;
  opacity: 0.95;
  color: black;
}

.ram-hidden {
  display: none !important;
}

.notification-user-link {
  color: #999 !important;
  font-size: 0.9em;
  text-decoration: underline; /* optional, for link styling */
}
